h1{ 
border: 5px solid black;
font-family: courier, fixed, monospace;
    
}

th {
border: 5px solid black; background-color: #8cb3d9;
  padding: 20px;
}

tr {
    border: 3px solid black; background-color: #c6d9eb;
}

